[Unit]
Description=PiHole Docker Service
Requires=pihole-ucarp.service

[Service]
Type=notify
ExecStart=/opt/repos/pihole-ucarp/pihole.sh
ExecStopPost=/usr/bin/docker rm -f pihole
Restart=on-failure

[Install]
WantedBy=systemd-resolved.service
